[Desktop Entry]
Name=Snow
Type=Service
Icon=preferences-desktop-wallpaper
ServiceTypes=Plasma/Wallpaper

X-KDE-Library=plasma_wallpaper_snow
X-KDE-PluginInfo-Author=Ivan Safonov
X-KDE-PluginInfo-Email=safonov.ivan.s@gmail.com
X-KDE-PluginInfo-Name=snow
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/IvanSafonov/plasma-wallpaper-snow
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

