Source: plasma-wallpaper-snow
Section: utils
Priority: extra
Maintainer: Ivan Safonov <safonov.ivan.s@gmail.com>
Build-Depends: debhelper (>= 9), cmake, pkg-kde-tools (>= 0.15.15ubuntu1~), extra-cmake-modules,
               plasma-framework-dev
Standards-Version: 3.9.5

Package: plasma-wallpaper-snow
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qtdeclarative5-particles-plugin, plasma-workspace,
         qtdeclarative5-folderlistmodel-plugin
Description: Live snow wallpaper for plasma 5
